<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>The New Social Networking Site | <%= yield(:title) %></title>
  </head>
  <body>
	<div class="center hero-unit">
  		<h1>Welcome to the my fabulous new website</h1>

  		<h2>
    		Nothing here yet...
  		</h2>

  		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

  </body>
</html>

